.verified-badge-icon,
.verified-badge-text-container {
    display: none
}

.badgeSizeCaptionheader,
.badgeSizeFooter,
.badgeSizeHeader,
.badgeSizeSubheader,
.badgeSizeTitle {
    position: relative;
    overflow: hidden
}

.badgeSizeTitle {
    width: 28px;
    height: 28px
}

.badgeSizeFooter {
    width: 12px;
    height: 12px
}

.badgeSizeCaptionheader,
.badgeSizeHeader,
.badgeSizeSubheader {
    width: 16px;
    height: 16px
}

.hz-centered-badge-container {
    margin: 5px 0;
    display: flex;
    justify-content: center
}

.profile-verified-badge-icon {
    width: 28px;
    height: 28px;
    margin: 0
}

@media(max-width:543px) {
    .profile-verified-badge-icon {
        width: 16px;
        height: 16px;
        margin: 0
    }
}

.profile-header-main {
    display: flex;
    gap: 24px;
    margin-bottom: 24px
}

.profile-header-avatar {
    width: 128px !important;
    height: 128px !important
}

.profile-header-details {
    padding-top: 12px;
    padding-bottom: 12px
}

.profile-header-details,
.profile-header-names {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.profile-header-title-container {
    display: flex;
    align-items: center;
    gap: 8px
}

.profile-header-username {
    font-weight: 400 !important
}

.profile-header-premium-badge {
    width: 28px;
    height: 28px
}

.profile-header-social-counts {
    display: flex;
    gap: 24px
}

.profile-header-social-count-label {
    font-weight: 400
}

.profile-header-social-counts>li>a:hover {
    text-decoration: underline
}

.profile-header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px
}

.profile-header-more-icon {
    width: 24px;
    height: 24px
}

.profile-header-dropdown-label {
    font-weight: 400
}

.profile-header-error {
    margin-bottom: 24px
}

@media(max-width:767px) {
    .profile-header-main {
        flex-direction: column;
        gap: 0
    }
    .profile-header-avatar {
        align-self: center;
        width: 100px !important;
        height: 100px !important
    }
    .profile-header-details {
        gap: 12px
    }
    .profile-header-buttons>:not(.profile-header-dropdown) {
        flex: 1
    }
}

.change-alias-feedback-container .text-description {
    width: 90%;
    width: calc(100% - 40px);
    float: left
}

.change-alias-feedback-container .count-down {
    float: right
}

.change-alias-modal .change-alias-description {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px
}

.change-alias-modal .change-alias-bolded {
    font-weight: bolder
}

.change-alias-button {
    padding-left: 2px;
    padding-right: 2px
}

.name-tooltip-header {
    padding-top: 4px
}

.name-tooltip-body,
.name-tooltip-header {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px
}

.name-tooltip-body {
    padding-bottom: 4px
}